.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#343a40;
    color:black;
    text-align:center;
    font-size:25px;
    left:0;
    animation-name:footer;
    animation-duration: 15s;
}
.pp{
    font-weight:bold;
    border-style:solid;
    border-color:black;
    width:100px;
    text-align:center;
    padding:8px;
    animation-name:pp;
    animation-duration: 10s;
}

    .jumbotron {
    background-image: url("bg.jpg");
}

h1 {
    background-image: url("bg.jpg");
}

@-webkit-keyframes footer {
    from{background-color:blue;}
    to{background-color:red;}
}


@-webkit-keyframes pp {
    from{background-color:blue;}
    to{background-color:red;}
    from{color:black;}
    to{color:white;}
}

@media screen and (max-width:980px) {
    body {
    background-color:purple;
    }
}
@media screen and (max-width:760px){
    body {
        background-color:green;
    }
}
@media screen and (max-width:640px) {
    body {
        background-color:blue;
    }
}
@media only screen and (max-width:640px) {
    header {position:static;}
}
}



